apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "eaglercraft.nginxProxy.fullname" . }}
  labels:
    {{- include "eaglercraft.nginxProxy.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.nginxProxy.replicaCount }}
  selector:
    matchLabels:
      {{- include "eaglercraft.nginxProxy.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "eaglercraft.nginxProxy.selectorLabels" . | nindent 8 }}
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/nginx-proxy-configmap.yaml") . | sha256sum }}
    spec:
      {{- if .Values.global.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml .Values.global.imagePullSecrets | nindent 8 }}
      {{- end }}
      containers:
      - name: nginx
        image: "{{ .Values.nginxProxy.image.repository }}:{{ .Values.nginxProxy.image.tag }}"
        imagePullPolicy: {{ .Values.nginxProxy.image.pullPolicy }}
        ports:
        - name: http
          containerPort: 80
          protocol: TCP
        livenessProbe:
          httpGet:
            path: /healthz
            port: http
          initialDelaySeconds: 30
          periodSeconds: 10
          timeoutSeconds: 30
        readinessProbe:
          httpGet:
            path: /healthz
            port: http
          initialDelaySeconds: 10
          periodSeconds: 10
          timeoutSeconds: 30
        resources:
          {{- toYaml .Values.nginxProxy.resources | nindent 10 }}
        volumeMounts:
        - name: nginx-config
          mountPath: /etc/nginx/nginx.conf
          subPath: nginx.conf
      volumes:
      - name: nginx-config
        configMap:
          name: {{ include "eaglercraft.nginxProxy.fullname" . }}-config
